body { background-color: #f1f3f6; }
#header {
	background-color: white;
	height: 62px;
	width: 100%;
	border-bottom: 1px solid #eaeaea;
	position: fixed;
	z-index: 1000;
}

#aside {
	width: 180px;
	position: fixed;
	top: 62px;
	left: 0;
	bottom: 0;
}

#section {
	background-color: #f1f3f6;
	border-left: 1px solid #eaeaea;
	position: relative;
	top: 62px;
	margin-left: 180px;
}

.footer {
	padding: 10px 18px;
	border-top: 1px solid #eaeaea;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 180px;
}